<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-local-storage/dist/angular-local-storage.js"></script>

    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>

    <div id="main" ui-view></div>

<video muted autoplay loop poster="/images/bacon.jpg" id="bgvid">
    <source src="/images/bazaar.webm" type="video/webm">
    <source src="/images/bazaar.mp4" type="video/mp4">
</video>

</body>

</html>
