<div class="col-sm-12 col-md-12 col-lg-12">

    <div ng-show="!user">
        <p>401 Unauthorized: Only authenticated users may leave reviews.</p>
        <a ui-sref="products">Back to Products</a>
    </div>
    <div ng-show="!!user">

        <div class="thumbnail">
            <img class="img-responsive product-image" ng-src="{{product.photo}}" alt="">
            <span ng-show="!!product.country" class="flag-icon flag-icon-{{ countryData[product.country].abbr }}"></span>
        </div>
        <div class="caption-full">
            <h4 class="pull-right">{{product.price | currency}}</h4>
            <h4>
            <a href="#" class='product-title'>{{product.title}}</a>
            </h4>
            <h3>Description:</h3>
            <p ng-show="product.description">{{ product.description }}</p>
            <p ng-show="!product.description">No description provided.</p>

        </div>



        <form name="reviewForm" ng-submit="submitReview()">
            <div class="form-group">
                <label>Your Rating</label>
                <select name="stars" ng-model="newReview.rating" ng-selected="rating" class="pull-left">
                    <option value="">Rating</option>
                    <option ng-selected="rating" value="5">5 stars</option>
                    <option ng-selected="rating" value="4">4 stars</option>
                    <option ng-selected="rating" value="3">3 stars</option>
                    <option ng-selected="rating" value="2">2 stars</option>
                    <option ng-selected="rating" value="1">1 star</option>
                </select>
                <textarea name="review-text" cols="50" name="comment" ng-model="newReview.text" placeholder="Enter your review here" rows="5"></textarea>
                <button class="btn btn-primary btn-lg btn-standard" type="submit">Add a Review</button>
            </div>
        </form>
    </div>
</div>