<section >
  <div class="container">

    <div class="row">
      <div class="col-lg-8">
        <h2 class="text-center"> Manage </h2>
        <div class="text-center">
          <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Orders</button>
          <button type="button" class="btn btn-default" ng-click="isCollapsed1 = !isCollapsed1">Users</button>
          <button type="button" class="btn btn-default" ng-click="isCollapsed2 = !isCollapsed2">Products</button>

          <hr>
          <div collapse="!isCollapsed">
            <div class="well well-lg">
              <h3> All Orders </h3>
              <div ng-repeat="user in users">
                <h4 ng-show="user.orders.length > 0"> {{user.name}}</h4>
                <span ng-repeat="order in user.orders"> <a href="/order/{{order}}">{{ order}}</a> </span>

              </div>
              <div>
                <h4 ng-show="guestOrders.length > 0"> Guest</h4>
                <span ng-repeat="order in guestOrders"> <a href="/order/{{order._id}}">{{ order._id }}</a> </span>

              </div>

            </div>
          </div>
          <div collapse="!isCollapsed1">
            <div class="well well-lg">
              <h3> All users </h3>

              <span ng-repeat="user in users"> <a href="/user/{{user._id}}">{{user.name}} </a></span>

            </div>
          </div>
          <div collapse="!isCollapsed2">

            <div class="well well-lg">
              <h3> All products</h3>
              <span ng-repeat="product in products"> <a href="/products/{{product._id}}">{{product.title}} </a></span>
              <hr>
              <p><a ui-sref="add">Add new product</a></p>
            </div>
          </div>
        </div>




      </div>



    </div>
  </div>


</section>
