<section id="products">
	<div class="container" style="margin-top:-50px;">

		<h2>All Products</h2>
		<p>Filter by Category:
			<input name="categoryFilter" type="text" ng-model="categories" />
		</p>

		<p>Filter by Country:
			<select name="countryFilter" ng-options="country.name as country.name for country in countryData" ng-model="country">
			</select>
		</p>
		<p>Order by:
			<select name="orderField" ng-model="field" required>
				<option value="title">Product Title</option>
				<option value="price">Price, by lowest</option>
			</select>
		</p>
		<div class="container">
				<div style=""class="col-lg-3 col-md-4 col-sm-6 "   ng-repeat="product in products | orderBy: field " ng-show="(country === 'All' || country === product.country)">

					<!-- <div ng-class="{'row': Number($index%4)===0}" >
						{{$index}} -->

					<a href="#" class="thumbnail product-image list-group-item">
						<img src="{{ product.photo }}" alt="{{ product.title }}">
					</a>
					<div  class="caption" style="line-hight:20px;">
						<h4 > {{ product.title }}</h3>
						<span ng-show="!!product.country" class="flag-icon flag-icon-{{ countryData[product.country].abbr }}"></span>
						<strong>{{ product.price | currency }}</strong>
						<span>{{ product.stock }} in stock </span>
						<p>
							<a href="#" ng-show="product.stock > 0"class="btn btn-primary" role="button" ng-click="addToCart(product)">Add to Cart</a>
							<a href="#" ng-show="product.stock <= 0"class="btn btn-default strike" role="button" >Sold Out</a>
						 </p>


					</div>
			<!-- </div> -->
		</div>


		</div>
	</div>


</section>
