<h3>Order Summary</h3>
<!-- <pre>{{ order | json }}</pre> -->

<h5>Customer Information</h5>
<ul>
  <strong>Name: </strong><li style="display: inline" contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-model="order.name">{{ order.name }}</li>
  <div></div>
  <strong>Email: </strong><li style="display: inline" contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-model="order.email">{{ order.email }}</li>
  <div></div>
  <strong>Shipping Address: </strong><li style="display: inline" contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-model="order.shippingAddress" >{{ order.shippingAddress }}</li>
</ul>

<strong>Order Number:</strong><p contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-model="order.orderNumber"style="display: inline"> {{ order.orderNumber }}</p>
<div></div>
<strong>Order Status:</strong><p contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" style="display: inline"> {{ displayStatus() }}</p>
<div></div>
<strong>Order Date:</strong><p contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" style="display: inline"> {{ displayDate(order.timestamp, 'order') }}</p>

<p contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}"><strong>{{ displayDateType(order.shippingDate, 'Estimated Shipping Date:') }}</strong> {{ displayDate(order.shippingDate, 'shipping') }}</p>

<p contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}"><strong>{{ displayDateType(order.deliveryDate, 'Estimated Delivery Date:') }}</strong> {{ displayDate(order.deliveryDate, 'delivery') }}</p>




<div>
<ul id="sidebyside">
  <li>
    <table class="table table-striped" style="width: 50%;">
      <thead>
        <div class="sticky-anchor"></div>
        <tr class="statcell fixed">
          <th>Description</th>
          <th style="text-align: right">Unit Price</th>
          <th style="text-align: right">Quantity</th>
          <th style="text-align: right">Total Price</th>
          <tr class="statcell" ng-repeat="item in order.items">
            <td><a ui-sref="detail({id: item.product})"><strong>{{ item.title }}</strong></a></td>
            <td><span class="pull-right">{{ item.price | currency }}</span></td>
            <td><span class="pull-right">{{ item.quantity }}</span></td>
            <td><span class="pull-right">{{ item.price * item.quantity | currency }}</span></td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Subtotal:</strong></span></td>
            <td><span class="pull-right">{{ order.subtotal | currency }}</span></td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Shipping:</strong></span></td>
            <td><span class="pull-right">{{ 0 | currency }}</span></td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Tax:</strong></span></td>
            <td><span class="pull-right">{{ 0 | currency }}</span></td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Total:</strong></span></td>
            <td><span class="pull-right">{{ order.subtotal | currency }}</span></td>
          </tr>
        </tr>
      </thead>
    </table>
  </li>
  <li>
</ul>
</div>
<pre ng-show="toggleEdit">{{ order | json }}</pre>
<span> <a ng-show="!toggleEdit" class="btn btn-danger" role="button" ng-click="toggleEdit = !toggleEdit">
<span class="glyphicon glyphicon-pencil"></span> Toggle Editing
        </a></span>

<span> <a ng-show="toggleEdit" class="btn btn-danger" role="button" ng-click="toggleEdit = !toggleEdit">
<span></span> Cancel
        </a></span>

<span> <a ng-show='toggleEdit' class="btn btn-info" role="button" ng-click="saveChanges() ; toggleEdit = !toggleEdit">
<span class="glyphicon glyphicon-save"></span> Save Changes
        </a></span>