<h3>Order Summary</h3>
<!-- <pre>{{ order | json }}</pre> -->

<h5>Customer Information</h5>
<ul class="pull-left">
  <strong>Name: </strong><li style="display: inline">{{ order.name }}</li>
  <div></div>
  <strong>Email: </strong><li style="display: inline">{{ order.email }}</li>
  <div></div>
  <strong >Shipping Address: </strong><li style="display: inline-block" ng-model="order.shippingAddress" >{{ order.shippingAddress }}</li>
  <i ng-click="shippingform = !shippingform" ng-show="toggleEdit" class ="fa fa-pencil"></i>
    <div class="clearfix"></div>
    <form class="form col-md-10" role="form" ng-show="shippingform">
    <div></div>
     <input ng-model="order.shippingAddress" type="shipaddress" class="form-control" id="shipaddress">
    </form>
    <div class="clearfix"></div>
</ul>
<div class="clearfix"></div>
<div class="pull-left">
<strong>Order Number:</strong><p style="display: inline"> {{ order.orderNumber }}</p>
<div></div>
<strong>Order Status:</strong><p ng-show="{{ !toggleEdit }}" style="display: inline"> {{ displayStatus() }}</p>
<i ng-click="statusform = !statusform"ng-show="toggleEdit" class ="fa fa-pencil"></i>
    <div class="clearfix"></div>
    <form class="form col-md-10" role="form" ng-show="statusform">
    <div></div>
     <input ng-model="order.status" type="status" class="form-control" id="status">
    </form>
    <div class="clearfix"></div>
<div></div>
<strong>Order Date:</strong><p style="display: inline"> {{ displayDate(order.timestamp, 'order') }}</p>

<p><strong>{{ displayDateType(order.shippingDate, 'Estimated Shipping Date:') }}</strong> {{ displayDate(order.shippingDate, 'shipping') }}</p>
<i ng-click="shipdate = !shipdate"ng-show="toggleEdit" class ="fa fa-pencil"></i>
    <div class="clearfix"></div>
    <form class="form col-md-10" role="form" ng-show="shipdate">
    <div></div>
     <input ng-model="order.shippingDate" type="shipdate" class="form-control" id="shipdate">
    </form>
    <div class="clearfix"></div>
<p><strong>{{ displayDateType(order.deliveryDate, 'Estimated Delivery Date:') }}</strong> {{ displayDate(order.deliveryDate, 'delivery') }}</p>
<i ng-click="deliverydate = !deliverydate" ng-show="toggleEdit" class ="fa fa-pencil"></i>
    <div class="clearfix"></div>
    <form class="form col-md-10" role="form" ng-show="deliverydate">
    <div></div>
     <input ng-model="order.deliveryDate" type="deliverydate" class="form-control" id="deliverydate">
    </form>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div>
<ul id="sidebyside">
  <li>
    <table class="table table-striped" style="width: 50%;">
      <thead>
        <div class="sticky-anchor"></div>
        <tr class="statcell fixed">
          <th>Description</th>
          <th style="text-align: right">Unit Price</th>
          <th style="text-align: right">Quantity</th>
          <th style="text-align: right">Total Price</th>
          <tr class="statcell" ng-repeat="item in order.items">
            <td><a ui-sref="detail({id: item.product})"><strong>{{ item.title }}</strong></a></td>
            <td><span class="pull-right">{{ item.price | currency }}</span></td>
            <td><span class="pull-right">{{ item.quantity }}</span></td>
            <td><span class="pull-right">{{ item.price * item.quantity | currency }}</span></td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Subtotal:</strong></span></td>
            <td><span class="pull-right">{{ order.subtotal | currency }}</span></td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Shipping:</strong></span></td>
            <td><span class="pull-right">{{ ship | currency }}</span></td>
            <td>
              <i ng-click="shipping = !shipping" ng-show="toggleEdit" class ="fa fa-pencil"></i>
              <div class="clearfix"></div>
              <form class="form col-md-10" role="form" ng-show="shipping">
              <div></div>
              <input ng-model="ship" type="shipping" class="form-control" id="shipping">
              </form>
            </td>
    <div class="clearfix"></div>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Tax:</strong></span></td>
            <td><span class="pull-right">{{ tax | currency }}</span></td>
              <td>
              <i ng-click="taxes = !taxes" ng-show="toggleEdit" class ="fa fa-pencil"></i>
              <div class="clearfix"></div>
              <form class="form col-md-10" role="form" ng-show="taxes">
              <div></div>
              <input ng-model="tax" type="taxes" class="form-control" id="taxes">
              </form>
            </td>
          </tr>
          <tr class="statcell">
            <td></td><td></td>
            <td><span class="pull-right"><strong>Total:</strong></span></td>
            <td><span class="pull-right">{{ theTotal | currency }}</span></td>
              <td>
              <i ng-click="total = !total" ng-show="toggleEdit" class ="fa fa-pencil"></i>
              <div class="clearfix"></div>
              <form class="form col-md-10" role="form" ng-show="total">
              <div></div>
              <input ng-model="theTotal" type="total" class="form-control" id="total">
              </form>
            </td>
          </tr>
        </tr>
      </thead>
    </table>
  </li>
  <li>
</ul>
</div>
<span> <a ng-show="!toggleEdit && user.isAdmin" class="btn btn-danger" role="button" ng-click="toggleEdit = !toggleEdit">
<span class="glyphicon glyphicon-pencil"></span> Toggle Editing
        </a></span>

<span> <a ng-show="toggleEdit" class="btn btn-danger" role="button" ng-click="toggleEdit = !toggleEdit">
<span></span> Cancel
        </a></span>

<span> <a ng-show='toggleEdit' class="btn btn-info" role="button" ng-click="saveChanges() ; toggleEdit = !toggleEdit">
<span class="glyphicon glyphicon-save"></span> Save Changes
        </a></span>
<pre ng-show="toggleEdit">{{ order | json }}</pre>