<div class="container" ng-controller="UserProfileController">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">  
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-md-6">
            <img style="width:250%" ng-src="{{ user.photo }}">
        </div>
            <div class="col-sm-12 col-lg-6 col-md-6">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h1>Hey {{user.name}}!</h1>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 centerText">
                        <button="btn btn-primary btn-lg btn-standard" ng-click="showForm()"> Update Profile </button>
                        <update-form ng-hide="updates"></update-form>
                    </div>
                </div>
          </div>
</div>
<div class="row marginAuto">
    <div class="col-sm-12 col-lg-6 col-md-6">
    <!--     <div class="thumbnail mdl-card mdl-shadow--3dp" style="padding:10%;">
            <div class="centerText">
                <h1><i class="fa fa-weixin fa-2x"></i> Reviews</h1>
            </div>
            <product-review ng-repeat="review in reviews" thereview="review" userpage="true"></product-review>
        </div> -->
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="centerText">
                <h1>Orders</h1>
            </div>
<!--             <fieldset ng-repeat="order in orders">
                <user-order-line order="order">
                </user-order-line>
            </fieldset>
 -->    </div>
</div>