<div class="container">

        <div class="row">


            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive single-product-image" src="{{product.photo}}" alt="">
                </div>
                        <span class="stock">Hurry, There are only {{ product.stock }} left in stock! </span>
                    <div class="caption-full product-stats">
                        <h4 class="pull-right">{{product.price | currency}}</h4>
                        <h4>
                        <a href="#" class='product-title'>{{product.title}}</a>
                        </h4>
                        <h3>Description:</h3>
                        <p>This is a test description, there are many like it, but this one belongs to this product. why? because i needed something to be here to test stuff and things. </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews **this is a ph**</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>
                    <p> the following are also placeholders</p>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div>

            </div>
         <!--    add to cart -->
            <div class="col-md-3">
            <p>
							<div ng-show="product.stock > 0">
								<span><a href="#" class="btn btn-primary" role="button" ng-click="addToCart(product)">
									<span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
								</a></span>
								<span><input name="quantity" type="text" ng-model="product.quantity" placeholder="Qty:" size="4"></input></span>
							</div>
							<span><a href="#" ng-show="product.stock <= 0"class="btn btn-default strike" role="button" >
								<span class="glyphicon glyphicon-ban-circle"></span> Sold Out
							</a></span>

			</p>

            </div>

        </div>

    </div>