<div class="container">
        <div class="row">

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive product-image" src="{{product.photo}}" alt="">
                    <span ng-show="!!product.country" class="flag-icon flag-icon-{{ countryData[product.country].abbr }}"></span>
                </div>
                    <div class="caption-full product-stats">
                        <h4 class="pull-right">{{product.price | currency}}</h4>
                        <h4 class='product-title'>{{product.title}}</h4>
                        <span class="stock" ng-show="product.stock < 20">Hurry, there are only {{ product.stock }} left in stock! </span>
                        <span class="stock" ng-show="product.stock >= 20">There are currently {{ product.stock }} left in stock. </span>
                        <h3>Description:</h3>
                        <p ng-show="product.description">{{ product.description }}</p>
                        <p ng-show="!product.description">No description provided.</p>
                    </div>



                <div class="well">
                    <reviews product-id="{{product._id}}"></reviews>
                </div>

            </div>
         <!--    add to cart -->
            <div class="col-md-3">
            <p>
							<div ng-show="product.stock > 0">
								<span><a href="#" class="btn btn-primary" role="button" ng-click="addToCart(product)">
									<span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
								</a></span>
								<span><input name="quantity" type="text" ng-model="product.quantity" placeholder="Qty:" size="4"></input></span>
							</div>
							<span><a href="#" ng-show="product.stock <= 0"class="btn btn-default strike" role="button" >
								<span class="glyphicon glyphicon-ban-circle"></span> Sold Out
							</a></span>

			</p>

            </div>

        </div>

    </div>