<div class="container">
        <div class="row">

            <div class="col-md-9 productDiv">

                        <h4 ng-model="product.title" contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" class='product-title'>{{product.title}}</h4>
                <div ng-class="{'isEditable': toggleEdit}" class="thumbnail">
                <div ng-show="toggleEdit">photo url:</div>
                <div contenteditable ng-model="product.photo"ng-show="toggleEdit">{{product.photo}}</div>
                    <img class="img-responsive single-product-image" src="{{product.photo}}" alt="">
                    <p contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-model="product.country" ng-show="toggleEdit">{{product.country}}</p>
                    <span ng-show="!!product.country" class="flag-icon flag-icon-{{ countryData[product.country].abbr }}"></span>
                </div>
                <pre ng-show="toggleEdit">{{ product | json }}</pre>
                    <div class="caption-full product-stats">
                        <h4 ng-if="isNum(product.price)" ng-model="product.price" contenteditable="{{ !!toggleEdit }}"  ng-class="{'isEditable': toggleEdit}" class="pull-right">{{product.price | currency}}</h4>
                        <h4 ng-if="!isNum(product.price)" ng-model="product.price" contenteditable="{{ !!toggleEdit }}"  ng-class="{'isEditable': toggleEdit}" class="pull-right">{{product.price}}</h4>
                        <span ng-model="product.stock" contenteditable="{{ !!toggleEdit }}"  class="stock" ng-show="product.stock >= 20">There are currently {{ product.stock }} left in stock. </span>
                        <span ng-model="product.stock" contenteditable="{{ !!toggleEdit }}" class="stock" ng-show="product.stock < 20 && product.stock > 0">Hurry, there are only {{ product.stock }} left in stock! </span>
                        <div ng-show="toggleEdit">Stock:</div>
                        <div ng-model="product.stock" contenteditable="{{ !!toggleEdit }}" ng-show="toggleEdit" ng-class="{'isEditable': toggleEdit}">{{ product.stock }}</div>
                        <span ng-class="{'isEditable': toggleEdit}" class="stock" ng-show="product.stock <= 0">Sorry, this product is sold out.</span>
                        <h3>Description:</h3>
                        <p ng-model="product.description" contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-show="product.description">{{ product.description }}</p>
                        <p ng-model=product.description contenteditable="{{ !!toggleEdit }}" ng-class="{'isEditable': toggleEdit}" ng-show="!product.description">No description provided.</p>
                        <p ng-show="toggleEdit">Categories</p>
                        <p ng-model=product.categories contenteditable="{{ !!toggleEdit }}" ng-show="toggleEdit" ng-class="{'isEditable': toggleEdit}">{{ product.categories }}</p>
                    </div>



                <div class="well">
                    <reviews product-id="{{product._id}}"></reviews>
                </div>

            </div>
         <!--    add to cart -->
            <div class="col-md-3">
            <p>
							<div ng-show="product.stock > 0">
								<span><a href="#" class="btn btn-primary" role="button" ng-click="addToCart(product)">
									<span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
								</a></span>
								<span><input name="quantity" type="text" ng-model="product.quantity" placeholder="Qty:" size="4"></input></span>
							</div>
							<span><a href="#" ng-show="product.stock <= 0"class="btn btn-default strike" role="button" >
								<span class="glyphicon glyphicon-ban-circle"></span> Sold Out
							</a></span>

			</p>

            </div>

        </div>

    </div>
<span> <a ng-show="!toggleEdit && user.isAdmin " class="btn btn-danger" role="button" ng-click="toggleEdit = !toggleEdit">
<span class="glyphicon glyphicon-pencil"></span> Toggle Editing 
        </a></span>

<span> <a ng-show="toggleEdit" class="btn btn-danger" role="button" ng-click="toggleEdit = !toggleEdit ; redigest()">
<span></span> Cancel
        </a></span>

<span> <a ng-show='toggleEdit' class="btn btn-info" role="button" ng-click="saveChanges() ; toggleEdit = !toggleEdit">
<span class="glyphicon glyphicon-save"></span> Save Changes
        </a></span>

<span> <a ng-show='toggleEdit && !available' class="btn btn-success" role="button" ng-click="available = !available ; setStock(0) ">
<span class="glyphicon glyphicon-save"></span> Available!
        </a></span>

<span> <a ng-click="available = !available ; setStock(1)" ng-show='toggleEdit && available'  class="btn btn-danger" role="button">
<span class="glyphicon glyphicon-save"></span> Currently Unavailable.
        </a></span>

<div>
<section id="products">
    <div class="container col-md-9">
        <div class="container masSnacks"> 
            <h2>More snacks from this country:</h2>
                <div style="margin-top: 50px"class="col-lg-3 col-md-4 col-sm-6 "   ng-repeat="producto in products | orderBy: field " ng-show='producto.country === product.country && producto._id !== product._id'>
                <!-- <pre>{{ product | json }}</pre> -->
                    <a ui-sref="detail({id: producto._id})" class="thumbnail product-image list-group-item">
                        <img ng-src="{{ producto.photo }}" alt="{{ producto.title }}">
                    </a>
                    <div class="caption product-image">
                        <h4 ui-sref='detail({id: producto._id})'> {{ producto.title }} </h4>
                        <span ng-show="!!producto.country" class="flag-icon flag-icon-{{ countryData[producto.country].abbr }}"></span>
                        <p>
        </div>


        </div>
    </div>


</section>
</div>