

<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <div>
    <h5 style="display: inline"> Not a user yet? </h5> <a style="display: inline" ui-sref='signup'> Sign up here! </a>
    </div>
</form>
<h4 id="logor"> or... </h4>
<div class="col-md-12" >
<div class="oauth-button">
<a href="/auth/facebook"><img src="http://techulus.com/buttons/fb.png" /></a><br/>
<a href="/auth/twitter"><img src="http://techulus.com/buttons/tw.png" /></a><br/>
<button class="auth-button" onClick="window.location='/auth/google';"<img src="http://techulus.com/buttons/gplus.png"/></button>
</div>
</div>

