<section id="cart">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8" style="background-color: yellow; height:700px;">
          <!-- {{cart.getItems() | json}} -->
          <div ng-repeat="item in cart.items">
          <a ui-sref='detail({id: item.product._id})' class="thumbnail product-image list-group-item">
            <img ng-src="{{ item.product.photo }}" alt="{{ item.title }}">
          </a>
          <p><a ui-sref='detail({id: item.product._id})'><strong>{{ item.product.title }}</strong></a></p>
          <span>Quantity: 
            <span ng-show="!editing">{{ item.quantity || 1 }}</span>
            <span ng-show="editing" ng-model="item.quantity">
              <input type="number" ng-value="item.quantity" ng-model="item.quantity" size="4"></input>
            </span>
          </span>
          <span>(
            <a href='#' ng-show="!editing" ng-click="toggleEditing()">edit</a>
            <a href='#' ng-show="editing" ng-click="editQuantity($index, item.quantity)">OK</a>
            ), </span>
          <span>Price: {{ (item.quantity || 1) * item.product.price | currency }}</span>
          <a href="#" class="btn btn-danger" role="button" ng-click="cart.deleteItem($index)">
                          <span class="glyphicon glyphicon-trash"></span></a>
          </div>
          <p>
            <div ng-show="cart.totalPrice > 0">
              <hr style="border-color: black;">
              <strong>Total Price: {{ cart.totalPrice | currency }}</strong>
              <p><a href="#" class="btn btn-danger" role="button" ng-click="cart.emptyCart()">
                <span class="glyphicon glyphicon-trash"></span> Empty Cart
              </a></p>
              <p><a ui-sref="checkout" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-ok"></span> Checkout!
              </a></p>
            </div>
            <div ng-show="cart.totalPrice <= 0">
              <p>You do not currently have any items in your cart. =(</p>
            </div>
            <p><a href='#' ui-sref="products">Back to Products</a></p>
          </p>

      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
</section>
