<section id="cart">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8" style="background-color: yellow; height:700px;">
          <!-- {{cart.getItems() | json}} -->
          <div ng-repeat="item in cart.items">
          <a ui-sref='detail({id: item._id})' class="thumbnail product-image list-group-item">
            <img ng-src="{{ item.photo }}" alt="{{ item.title }}">
          </a>
          <p><a ui-sref='detail({id: item._id})'><strong>{{ item.title }}</strong></a></p>
          <span>Quantity: {{ item.quantity || 1 }}, </span>
          <span>Price: {{ (item.quantity || 1) * item.price | currency }}</span>
          <a href="#" class="btn btn-danger" role="button" ng-click="cart.deleteItem($index)">
                          <span class="glyphicon glyphicon-trash"></span></a>
          </div>
          <p>
            <div ng-show="cart.totalPrice > 0">
              <hr style="border-color: black;">
              <strong>Total Price: {{ cart.totalPrice | currency }}</strong>
              <p><a href="#" class="btn btn-danger" role="button" ng-click="cart.emptyCart()">
                <span class="glyphicon glyphicon-trash"></span> Empty Cart
              </a></p>
            </div>
            <div ng-show="cart.totalPrice <= 0">
              <p>You do not currently have any items in your cart. =(</p>
            </div>
            <p><a href='#' ui-sref="products">Back to Products</a></p>
          </p>

      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
</section>
