<!-- If you're using Stripe for payments -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- jQuery is used only for this example; it isn't required to use Stripe -->
<form ng-submit="charge()">
    <!-- Credit card form -->
    <div class="container" style="width:90%;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <span><h3>Your Current Order</h3> <span><a ui-sref="cart">Back to Cart</a></span></span>
                <div>
                    <label> Your Products </label>
                    <div ng-repeat="item in toCheckout.items">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <a ui-sref='detail({id: item.product._id})' class="thumbnail product-image list-group-item">
                                <img ng-src="{{ item.product.photo }}" alt="{{ item.product.title }}">
                            </a>
                            <p><a ui-sref='detail({id: item.product._id})'><strong>{{ item.product.title }}</strong></a></p>
                            <span>Quantity: {{ item.quantity || 1 }}, </span>
                            <span>Price: {{ (item.quantity || 1) * item.product.price | currency }}</span>
                        </div>
                    </div>
                    <span class="pull-right"><strong>Total Price: {{ toCheckout.subtotal | currency }}</strong></span>
                </div>
            </div>
            <!--

 -->
            <div class="col-xs-12 col-md-6 col-lg-4;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="payment-form">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label style="color: black" for="expMonth">NAME</label>
                                        <div class="input-group">
                                            <input input type="text" class="form-control" name="Name" placeholder="Your Name" required autofocus class="form-control" name="name" placeholder="Name" ng-model="toCheckout.name" ng-value="user.name" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="email" style="color: black">EMAIL</label>
                                        <input input type="text" class="form-control" name="Name" placeholder="Your Email" required autofocus class="form-control" name="address" placeholder="Email" ng-model="toCheckout.email" required />
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="shippingAddress" style="color: black">ADDRESS</label>
                                        <input type="text" class="form-control" name="address" placeholder="Your Address" ng-model="toCheckout.shippingAddress" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="cardNumber" style="color: black">CARD NUMBER</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus ng-model="payment.card.number" />
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7 pull-left">
                                    <div class="form-group">
                                        <label for="expMonth" style="color: black">EXPIRATION DATE</label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" name="expMonth" style="width: 50px" placeholder="MM" ng-model="payment.card.exp_month" required data-stripe="exp_month" />
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" name="expYear" placeholder="YY" ng-model="payment.card.exp_year" required data-stripe="exp_year" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">CV CODE</label>
                                        <input type="password" class="form-control" name="cvCode" placeholder="CV" ng-model="payment.card.cvc" required data-stripe="cvc" />
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-xs-12">
                            <p class="payment-errors"></p>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- <pre>{{toCheckout | json}} </pre> -->
                <!-- <p>Payment JSON</p> -->
                <!-- <pre>{{payment | json}}</pre> -->
            </div>
        </div>
</form>
