<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>

<!-- If you're using Stripe for payments -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- Credit card form -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expMonth">EXPIRATION DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" />
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Checkout
Purchase items from cart
Specify shipping address and email address
Receive confirmation email
Receive notification emails upon order shipping, then order delivery -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
<div class="container">
	<div class="row">
	    <md-content class="col-lg-6 col-md-6 col-sm-12">
	        <h3>Your Current Order</h3>
	        <md-input-container>
	            <label> Your Products </label>
	            <div ng-repeat="item in toCheckout.items">
	                <md-content class="col-lg-6 col-md-6 col-sm-12">
	                    <a ui-sref='detail({id: item.product._id})' class="thumbnail product-image list-group-item">
	                        <img ng-src="{{ item.product.photo }}" alt="{{ item.product.title }}">
	                    </a>
	                    <p><a ui-sref='detail({id: item.product._id})'><strong>{{ item.product.title }}</strong></a></p>
	                    <span>Quantity: {{ item.quantity || 1 }}, </span>
	                    <span>Price: {{ (item.quantity || 1) * item.product.price | currency }}</span>
	            </div>
	            <p><strong>Total Price: {{ toCheckout.subtotal | currency }}</strong></p>
	            <p><a ui-sref="cart">Back to Cart</a></p>
	        </md-input-container>
	    </md-content>

	</div>

	<pre>{{ toCheckout | json }}</pre>
	<h3>Checkout Form</h3>
    <form name="checkout" ng-submit="checkout.$valid && submitOrder()">
        <md-content class="col-lg-6 col-md-6 col-sm-12">
	        <div class="row">
	        	<div class="col-lg-6 col-md-6 col-sm-12">
	                <md-input-container>
	                    <label>Name</label>
	                    <input type="text" ng-model="toCheckout.name" required>
	                </md-input-container>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12">
	                <md-input-container>
	                    <label>Shipping Address</label>
	                    <input type="text" ng-model="toCheckout.shippingAddress" required>
	                </md-input-container>
	            </div>
	        </div>
	        <div class="col-lg-6 col-md-6 col-sm-12">
	            <md-input-container>
	                <label>Email</label>
	                <input type="text" ng-model="toCheckout.email" required>
	            </md-input-container>
	        </div>
        </md-content>
		<div class="row">
		    <md-content class="col-lg-6 col-md-6 col-sm-12">
		        <h3>Credit Card</h3>
		        <!-- <form name="creditCard"> -->
		            <md-input-container>
		                <label>Card Number</label>
		                <input type="number" ng-model="user.cardNumber" >
		            </md-input-container>
		        	<md-input-container>
		                <label>CCV</label>
		                <input type="number" ng-model="user.ccv" >
		            </md-input-containr>
		            <md-input-container>
		                <label>Name On Card</label>
		                <input type="text" ng-model="user.name" >
		            </md-input-container>
<!-- 		            <md-input-container>
		                <label>Last Name</label>
		                <input type="text" ng-model="user.lastName" required>
		            </md-input-container> -->
		            <div layout layout-sm="column">
		                <md-input-container>
		                    <label>Expiration Month</label>
		                    <input type="number" ng-model="user.cardExpMonth" >
		                </md-input-container>
		                <md-input-container>
		                    <label>Expiration Year</label>
		                    <input type="number" ng-model="user.cardExpYear" >
		                </md-input-container>
		            </div>
		        <!-- </form> -->
			</md-content>
		</div>
		<p>
		    <button type="submit" class="btn btn-success">
		    	<span class="glyphicon glyphicon-ok"></span> Submit Order
		    </button>
		</p>
	</form>
</div>

