* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #fdfdfd;
}

// @mixin clearfix {
//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }


#main {
  padding-top: 60px;
  width: 100%;
  min-height:100vh;
  height: auto;
  margin: 0;
  background-color:lightblue;
<<<<<<< HEAD
=======


>>>>>>> master
}

@import 'userprofile/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'products/main';
@import 'flags/main';
