<table class="jumbotron">
            <div class ="row">
                        <p>Ordered On </p>
                        <b>{{theOrder.date}}</b>
                </div>
                <div class ="row">
                        <p>Billing Address </p>
                </div>
                <div class ="row">
                        <p>The Due Date</p>
                        <b>{{theOrder.date}}</b>
                </div>
                <div class ="row">
                        <p>Shipping Address</p>s
                        <b>{{theOrder.details.shipping}}</b>
                </div>
                <div class ="row">
                        <p>Subtotal </p>
                        <b>{{theOrder.total}}</b>
                </div>
</table>
