<div class="col-sm-12 col-md-12 col-lg-12">
    <form name="reviewForm">
        <div class="form-group">
            <label>Your Rating</label>
            <select name="stars" ng-model="review.rating" ng-selected="rating" required class="pull-right" style="cursor: pointer;">
                <option ng-selected="rating" value="1">1 star</option>
                <option ng-selected="rating" value="2">2 stars</option>
                <option ng-selected="rating"value="3">3 stars</option>
                <option ng-selected="rating" value="4">4 stars</option>
                <option ng-selected="rating" value="5">5 stars</option>
            </select>
            <textarea name="review-text" cols="50" name="comment" ng-model="review.text" placeholder="Enter your review here" rows="5"></textarea>
            <button class="btn btn-primary btn-lg btn-standard" type="submit">Add a Review</button>
        </div>
    </form>
</div>